<section class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
	<div class="card shadow-sm rounded-4 border-0" style="max-width: 1100px; width: 100%;">
			<div class="card-body px-5 py-2" style="font-size: 1rem;">
				<h2 class="card-title mb-3 text-center" style="font-size: 1.5rem;">{{title}} Usuario</h2>
				<form [formGroup]="userForm" (ngSubmit)="getDataForm()">
					<div class="mb-2">
						<label for="firstName" class="form-label">Nombre Usuario</label>
						<input type="text" class="form-control" id="firstName" name="firstName" placeholder="Nombre" formControlName="first_name">
						@if (checkForm('required', 'first_name')){
							<p class="form-error">El campo es obligatorio</p>
						}
						@if (checkForm('minlength', 'first_name')){
							<p class="form-error">El campo debe tener mínimo tres caracteres</p>
						}
					</div>
					<div class="mb-2">
						<label for="lastName" class="form-label">Apellido Usuario</label>
						<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Apellidos"formControlName="last_name">
						@if (checkForm('required', 'last_name')){
							<p class="form-error">El campo es obligatorio</p>
						}
						@if (checkForm('minlength', 'last_name')){
							<p class="form-error">El campo debe tener mínimo dos caracteres</p>
						}
					</div>
					<div class="mb-2">
						<label for="email" class="form-label">Email Usuario</label>
						<input type="email" class="form-control" id="email" name="email" placeholder="correo@ejemplo.com"formControlName="email">
						@if (checkForm('required', 'email')){
							<p class="form-error">El campo es obligatorio</p>
						}
						@if (checkForm('pattern', 'email')){
							<p class="form-error">El formato del email no es válido</p>
						}
					</div>
					<div class="mb-2">
						<label for="image" class="form-label">Imagen Usuario</label>
						<input type="url" class="form-control" id="image" name="image" placeholder="https://..."formControlName="image">
						@if (checkForm('required', 'image')){
							<p class="form-error">El campo es obligatorio</p>
						}
						@if (checkForm('pattern', 'image')){
							<p class="form-error">Debe introducir la URL de la imagen</p>
						}

					</div>
					<div class="d-flex justify-content-center gap-3 mt-3">
						<input type="submit" class="btn btn-warning" [value]="title" [disabled]="userForm.invalid">
					</div>
				</form>
			</div>
	</div>
</section>
